# Ignore all hidden directories and files, except for .github
.*
!.github

# Ignore tfstate files
*.tfstate*

# Ignore auto.tfvars files
*.auto.tfvars

# Ignore directories created from applying terraform
build*